label { width: 100em; }
label.error {
    position: block;
    right: 143px;
    top: -25px;
    color:red;
    background: #fff;
    padding: 2px 5px;
    font-style: italic;
}
p { clear: both; }
fieldset {position: absolute; left: 450px; width: 400px; } 
em { font-weight: bold; padding-right: 1em; vertical-align: top; }




